@page
@model ChiroCareRazorPages.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .container-form {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    h4 {
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
    }

    .text-center {
        text-align: center;
    }
</style>

<div class="container-form">
    <h1>Chỉnh Sửa Hồ Sơ Bệnh Nhân</h1>
    
    <h4>Thông tin bệnh nhân</h4>
    <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.UserId" />
                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="control-label">Số điện thoại</label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.FullName" class="control-label">Họ và Tên</label>
                    <input asp-for="User.FullName" class="form-control" />
                    <span asp-validation-for="User.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Dob" class="control-label">Ngày sinh</label>
                    <input asp-for="User.Dob" class="form-control" />
                    <span asp-validation-for="User.Dob" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Gender" class="control-label">Giới tính</label>
                    <select asp-for="User.Gender" class="form-control">
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                    </select>
                    <span asp-validation-for="User.Gender" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="User.Job" class="control-label">Nghề Nghiệp</label>
                    <input asp-for="User.Job" class="form-control"/>
                    <span asp-validation-for="User.Job" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.History" class="control-label">Tiền sử bệnh</label>
                    <input asp-for="User.History" class="form-control"/>
                    <span asp-validation-for="User.History" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.EmailAddress" class="control-label">Email</label>
                    <input asp-for="User.EmailAddress" class="form-control"/>
                    <span asp-validation-for="User.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Role" class="control-label">Vai trò</label>
                    <select asp-for="User.Role" class="form-control">
                        <option value="1">NGƯỜI ĐIỀU TRỊ</option>
                        <option value="0">KHÁCH HÀNG</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
    
    <div>
        <a asp-page="./Index">Trờ về danh sách</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
