@page
@model ChiroCareRazorPages.Pages.Invoices.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Tạo Hoá Đơn Mới</h1>

<h4>Thông tin hoá đơn</h4>
<hr />
<div class="row">
    <h3>Thông tin khách hàng</h3>
    <div class="col-md-4">

        <form method="post" id="searchForm" asp-page="/Invoices/Create" asp-page-handler="Index">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input name="phone" asp-for="PhoneNumber" class="form-control" id="phoneNumber"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </form>

        <form method="post" asp-page="/Invoices/Create" asp-page-handler="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label" disabled="">Họ và Tên</label>
                <input asp-for="User.FullName" class="form-control" id="fullName"/>
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Dob" class="control-label" disabled="">Ngày sinh</label>
                <input asp-for="User.Dob" class="form-control" id="dob"/>
                <span asp-validation-for="User.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label" disabled="">Giới tính</label>
                <select asp-for="User.Gender" class="form-control" id="gender">
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.EmailAddress" class="control-label">Email</label>
                <input asp-for="User.EmailAddress" class="form-control" id="email"/>
                <span asp-validation-for="User.EmailAddress" class="text-danger"></span>
            </div>

            <hr/>
            <h3>Chi tiết hoá đơn</h3>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceDiagnose" class="control-label">Chuẩn đoán</label>
                <input asp-for="Invoice.InvoiceDiagnose" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceDiagnose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceDescription" class="control-label">Chi tiết</label>
                <input asp-for="Invoice.InvoiceDescription" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceNote" class="control-label">Note</label>
                <input asp-for="Invoice.InvoiceNote" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceNote" class="text-danger"></span>
            </div>
            <div class="form-group">
              <form method="post" id="totalForm" asp-page="/Invoices/Create" asp-page-handler="Calculate">
                  <select id="total" multiple="multiple" asp-items="ViewBag.Services" asp-for="serviceIds"></select>
                  <div class="form-group">
                      <label asp-for="Invoice.InvoiceTotal" class="control-label">Thành tiền</label>
                      <input asp-for="Total" class="form-control" disabled=""/>
                      <span asp-validation-for="Total" class="text-danger"></span>
                  </div>
              </form>
                
            </div>
                     
            
            <div class="form-group">
                <label asp-for="Invoice.InvoiceStatus" class="control-label">Trạng thái hoá đơn</label>
                <select asp-for="Invoice.InvoiceStatus" class="form-control">
                    <option value="1">Đã thanh toán</option>
                    <option value="0">Chưa thanh toán</option>
                </select>
                <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Trờ về danh sách</a>
</div>

@section Scripts {
    <script>
            $(function() {
                $("#phoneNumber").blur(function() {
                    $("#searchForm").submit(); // Submit the form when the input field loses focus
                });
            });
        </script>
    <script>
           $(function() {
                          $("#total").change(function() {
                              $("#totalForm").submit(); // Submit the form when the input field loses focus
                          });
                      });
    </script>
            
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
