@page
@model ChiroCareRazorPages.Pages.Invoices.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .container-form {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    h4 {
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
    }

    .text-center {
        text-align: center;
    }
</style>
<div class="container-form">
<h1>Tạo Hoá Đơn Mới</h1>
    <hr/>
<h4>Thông tin hoá đơn</h4>
        <h3>Thông tin khách hàng</h3>

        <form method="post" id="searchForm" asp-page="/Invoices/Create" asp-page-handler="Index">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input name="phone" asp-for="phone" class="form-control" id="phoneNumber"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </form>

        <form method="post" asp-page="/Invoices/Create" asp-page-handler="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label" disabled="">Họ và Tên</label>
                <input asp-for="User.FullName" class="form-control" id="fullName"/>
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Dob" class="control-label" disabled="">Ngày sinh</label>
                <input asp-for="User.Dob" class="form-control" id="dob"/>
                <span asp-validation-for="User.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label" disabled="">Giới tính</label>
                <select asp-for="User.Gender" class="form-control" id="gender">
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Job" class="control-label">Nghề Nghiệp</label>
                <input asp-for="User.Job" class="form-control"/>
                <span asp-validation-for="User.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <label asp-for="User.Address">Địa chỉ</label>
                        <input asp-for="User.Address" class="form-control" />
                        <span asp-validation-for="User.Address" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <label asp-for="User.History" class="control-label">Tiền sử bệnh</label>
                <input asp-for="User.History" class="form-control"/>
                <span asp-validation-for="User.History" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.EmailAddress" class="control-label">Email</label>
                <input asp-for="User.EmailAddress" class="form-control" id="email"/>
                <span asp-validation-for="User.EmailAddress" class="text-danger"></span>
            </div>

            <hr/>


            <h3>Chi tiết hoá đơn</h3>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceDiagnose" class="control-label">Chuẩn đoán</label>
                <input asp-for="Invoice.InvoiceDiagnose" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceDiagnose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceDescription" class="control-label">Chi tiết</label>
                <input asp-for="Invoice.InvoiceDescription" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceTotal" class="control-label">Dịch vụ: </label>
                <br/>
                <select multiple="multiple" asp-items="ViewBag.Services" asp-for="serviceIds"></select>
                <span asp-validation-for="Invoice.InvoiceTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Quantity" class="control-label">Số lượng buổi:</label>
                <input required type="number" asp-for="Invoice.Quantity" class="form-control"/>
                <span asp-validation-for="Invoice.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceNote" class="control-label">Note</label>
                <input asp-for="Invoice.InvoiceNote" class="form-control"/>
                <span asp-validation-for="Invoice.InvoiceNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceMethod" class="control-label">Thanh Toán</label>
                <select asp-for="Invoice.InvoiceMethod" class="form-control">
                    <option value="1">CHUYỂN KHOẢN</option>
                    <option value="0">TIỀN MẶT</option>
                </select>
                <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceStatus" class="control-label">Thanh Toán</label>
                <select asp-for="Invoice.InvoiceStatus" class="form-control">
                    <option value="0">ĐÃ THANH TOÁN</option>
                    <option value="1">CÒN THIẾU</option>
                    <option value="2">CHƯA THANH TOÁN</option>
                </select>
                <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary"/>
            </div>
        </form>
</div>

<div>
    <a asp-page="Index">Trờ về danh sách</a>
</div>

@section Scripts {
    <script>
            $(function() {
                $("#phoneNumber").blur(function() {
                    $("#searchForm").submit(); // Submit the form when the input field loses focus
                });
            });
        </script>
            
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
