@page
@model ChiroCareRazorPages.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .container-form {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    h4 {
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
    }

    .text-center {
        text-align: center;
    }
</style>


<div class="container-form">
    <h1>Cập nhật hoá đơn</h1>
<hr />
    <h4>Thông tin hoá đơn</h4>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Invoice.InvoiceId"/>
        <div class="form-group">
            <label asp-for="Invoice.InvoiceStatus" class="control-label">Thanh Toán</label>
            <select asp-for="Invoice.InvoiceStatus" class="form-control">
                <option value="0">ĐÃ THANH TOÁN</option>
                <option value="1">CÒN THIẾU</option>
                <option value="2">CHƯA THANH TOÁN</option>
            </select>
            <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
        </div>
        <div hidden="" class="form-group">
            <label asp-for="Invoice.CreateDate" class="control-label"></label>
            <input asp-for="Invoice.CreateDate" class="form-control"/>
            <span asp-validation-for="Invoice.CreateDate" class="text-danger"></span>
        </div>
        <div hidden="" class="form-group">
            <label asp-for="Invoice.PatientId" class="control-label"></label>
            <select asp-for="Invoice.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            <span asp-validation-for="Invoice.PatientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.InvoiceDescription" class="control-label">Chi tiết</label>
            <input asp-for="Invoice.InvoiceDescription" class="form-control"/>
            <span asp-validation-for="Invoice.InvoiceDescription" class="text-danger"></span>
        </div>
        <div hidden="" class="form-group">
            <label asp-for="Invoice.Quantity" class="control-label"></label>
            <input asp-for="Invoice.Quantity" class="form-control"/>
            <span asp-validation-for="Invoice.Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.InvoiceDiagnose" class="control-label">Chuẩn đoán</label>
            <input asp-for="Invoice.InvoiceDiagnose" class="form-control"/>
            <span asp-validation-for="Invoice.InvoiceDiagnose" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.InvoiceNote" class="control-label">Note</label>
            <input asp-for="Invoice.InvoiceNote" class="form-control"/>
            <span asp-validation-for="Invoice.InvoiceNote" class="text-danger"></span>
        </div>
        <div hidden="" class="form-group">
            <label asp-for="Invoice.InvoiceTotal" class="control-label"></label>
            <input asp-for="Invoice.InvoiceTotal" class="form-control"/>
            <span asp-validation-for="Invoice.InvoiceTotal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Invoice.InvoiceMethod" class="control-label">Thanh Toán</label>
            <select asp-for="Invoice.InvoiceMethod" class="form-control">
                <option value="1">CHUYỂN KHOẢN</option>
                <option value="0">TIỀN MẶT</option>
            </select>
            <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input  type="submit" value="Cập nhật" class="btn btn-primary"/>
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Trở về danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
