@page
@model ChiroCareRazorPages.Pages.Sessions.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Tạo buổi khám</h1>

<h4>Thông tin buổi khám</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Session.TherapistId" class="control-label">Người điều trị</label>
                <select asp-for="Session.TherapistId" class ="form-control" asp-items="ViewBag.TherapistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Session.PatientId" class="control-label">Khách hàng</label>
                <select asp-for="Session.PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionTreatment" class="control-label">Liệu trình</label>
                <input asp-for="Session.SessionTreatment" class="form-control" />
                <span asp-validation-for="Session.SessionTreatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionInfo" class="control-label">Chi tiết</label>
                <input asp-for="Session.SessionInfo" class="form-control" />
                <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionAppointment" class="control-label">Hẹn ngày khám</label>
                <input asp-for="Session.SessionAppointment" class="form-control" />
                <span asp-validation-for="Session.SessionAppointment" class="text-danger"></span>
            </div>
           <div class="form-group">
                          <label asp-for="Session.Status" class="control-label">Trạng thái</label>
                          <select asp-for="Session.Status" class="form-control">
                              <option value="0">ĐÃ KHÁM</option>
                              <option value="1">CHƯA KHÁM</option>
                              <option value="2">ĐÃ ĐẶT LỊCH</option>
                          </select>
                          <span asp-validation-for="Session.Status" class="text-danger"></span>
                      </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Quay về danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
