@page
@model ChiroCareRazorPages.Pages.Sessions.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Session.SessionId" />
            <div class="form-group">
                <label asp-for="Session.TherapistId" class="control-label"></label>
                <select asp-for="Session.TherapistId" class="form-control" asp-items="ViewBag.TherapistId"></select>
                <span asp-validation-for="Session.TherapistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.PatientId" class="control-label"></label>
                <select asp-for="Session.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="Session.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionInfo" class="control-label"></label>
                <input asp-for="Session.SessionInfo" class="form-control" />
                <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionDate" class="control-label"></label>
                <input asp-for="Session.SessionDate" class="form-control" />
                <span asp-validation-for="Session.SessionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.Status" class="control-label"></label>
                <select asp-for="Session.Status" class="form-control"></select>
                <span asp-validation-for="Session.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
