@using BusinessObject
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> @ViewData["Title"] - ChiroCare Quản Lý Phòng Khám</title>
    <link rel="shortcut icon" href="Assets/Logo/Chiro%20CareLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ChiroCareRazorPages.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
    
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @if (Context.Session.GetInt32("Role") == 0)
            {            
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="Assets/Logo/chirologo3.png" alt="ChiroCare" class="logo">
                </a>
            }else if (Context.Session.GetInt32("Role") == null)
            {
                <a class="navbar-brand" asp-area="" asp-page="/Login">
                    <img src="Assets/Logo/chirologo3.png" alt="ChiroCare" class="logo">
                </a>

            }
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Context.Session.GetInt32("Role") == 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Index">Quản lý bệnh án</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Invoices/Index">Hoá Đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Sessions/Index">Buổi Khám</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="logout-link" asp-area="" asp-page="/Login">Đăng xuất</a>
                        </li>
                    }
                    else if (Context.Session.GetInt32("Role") == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Index">Quản lý bệnh nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Services/Index">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Invoices/Index">Hoá Đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Sessions/Index">Buổi Khám</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="logout-link" asp-area="" asp-page="/Login">Đăng xuất</a>
                        </li>
                    }
                    else if (Context.Session.GetInt32("Role") == null)
                    {
                        
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - ChiroCare Quản Lý Phòng Khám - <a asp-area="" asp-page="/Privacy">Điều khoản</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script >
       document.getElementById("logout-link").addEventListener("click", function(event) {
             event.preventDefault(); // Prevent the default behavior of the link
               
                window.location.href = '/';
         });
            
</script>